.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.lists-container {
  display: flex;
  justify-content: space-between;
}

.player-list {
  width: 18%;
}

.player-list h2 {
  text-align: center;
  margin-bottom: 10px;
}

.tier-group {
  margin-bottom: 20px;
}

.tier-group h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.player-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Ensure buttons are of equal width */
  pointer-events: auto;
}

/* Container for the input and button */
.input-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* Controls the space between each item */
}

/* Style the input field */
.input-container input[type="text"] {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  width: 300px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

/* Focus state for the input */
.input-container input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

/* Style the button */
.input-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  outline: none;
}

/* Hover state for the button */
.input-container button:hover {
  background-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

/* Active state for the button */
.input-container button:active {
  background-color: #003f7f;
  box-shadow: 0 0 8px rgba(0, 63, 127, 0.3);
}

/* Style the checkbox and label */
.input-container input[type="checkbox"] {
  margin-left: 10px; /* Adjust spacing to move closer to the buttons */
}

.input-container label {
  margin-left: 5px; /* Keep the label close to the checkbox */
  font-size: 16px;
}

/* Style the select dropdown */
.input-container select {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.button-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.overall-rank {
  width: 27%;
  text-align: left;
}

.name {
  width: 55%;
  text-align: center;
}

.team {
  width: 11%;
  text-align: left;
}

.bye {
  width: 7%;
  text-align: right;
}

.player-button.disabled {
  background-color: gray !important;
  cursor: not-allowed;
}

/* Styles for the Start Page */
.start-page {
  text-align: center;
  margin-top: 50px;
}

.file-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.file-input-label button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-input-label button:hover {
  background-color: #0056b3;
}

.file-input-button button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-input-button button:hover {
  background-color: #218838;
}

.file-input-button button:disabled {
  background-color: gray !important;
  color: white;
  cursor: not-allowed;
}

/* Load CSV button styling */
.load-csv-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-csv-button:hover {
  background-color: #0056b3;
}

.file-name {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

.action-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-buttons button:hover {
  background-color: #218838;
}

.action-buttons button:disabled {
  background-color: gray !important;
  color: white;
  cursor: not-allowed;
}

/* Disabled button styling */
.disabled-button {
  background-color: gray !important;
  color: white;
  cursor: not-allowed;
}

.checkbox-container {
  margin-top: 20px;
  font-size: 16px;
}

/* Container for reload options (checkbox and interval input) */
.reload-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: fit-content;
  margin: 0 auto; /* Center the reload-container in the parent */
}

/* Adjusting the checkbox size */
.reload-container input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

/* Styling the interval input */
.reload-container .reload-interval-input {
  width: 60px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  margin-right: 5px;
}

/* Styling for labels */
.reload-container label {
  font-size: 16px;
  color: #333;
}

.flash-text {
  font-size: 16px;
  color: green;
  position: absolute;
  top: 50px; /* Place it at the right edge of the container */

  animation: flashAnimation 0.7s ease-in-out;
  white-space: nowrap;
}

@keyframes flashAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.backButton-container {
  display: flex;
  position: absolute;
  right: 20px;
  top: 30px;
}

.backButton-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton-container button:hover {
  background-color: rgb(65, 65, 65);
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.draftname {
  text-align: center; /* Center the h1 within its parent container */
}

.draftname h1 {
  display: inline-flex;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px; /* Remove default margins */
}

.draftname h1:before,
.draftname h1:after {
  content: " ";
  display: block;
  width: 50px; /* Set the width to 50px */
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}

.draftname span {
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draftname span:before,
.draftname span:after {
  content: " ";
  display: block;
  width: 50px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
  margin: 0 10px; /* Adjust this to control spacing between line and text */
}

.draftname span:before {
  margin-right: 10px;
}

.draftname span:after {
  margin-left: 10px;
}

.draftname h1:before {
  margin-right: 10px; /* Adjust the space between the text and the line */
}

.draftname h1:after {
  margin-left: 10px; /* Adjust the space between the text and the line */
}

.modern-dropdown {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  background-color: #f8f8f8;
  margin-left: 10px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.modern-dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

/* Container for the input and button */
.base-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* Controls the space between each item */
}

.separator {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px 0;
}

.modern-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  width: 200px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  margin-right: 10px;
}

.modern-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.modern-input:focus {
  border-color: #28a745;
  box-shadow: 0 0 8px rgba(40, 167, 69, 0.3);
}

.modern-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.modern-button:hover {
  background-color: #218838;
  box-shadow: 0 0 8px rgba(33, 136, 56, 0.3);
}

.modern-button:active {
  background-color: #1e7e34;
  box-shadow: 0 0 8px rgba(30, 126, 52, 0.3);
}
.draft-container {
  max-width: 1600px;
  margin-left: 20px; /* Adjust this value to increase/decrease margin */
}

.draft-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.draft-grid-header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.draft-grid-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.draft-grid-name {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

.draft-grid-item a {
  margin-right: 10px;
}

.draft-grid-icon {
  width: 20px;
  height: 20px;
}

.highlight-green {
  color: green;
  font-weight: bold;
}

.highlight-red {
  color: red;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-button,
.refresh-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  outline: none;
  display: flex;
  align-items: center;
}

.back-button:hover,
.refresh-button:hover {
  background-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.back-button:active,
.refresh-button:active {
  background-color: #003f7f;
  box-shadow: 0 0 8px rgba(0, 63, 127, 0.3);
}

.back-button svg,
.refresh-button svg {
  margin-right: 8px;
}

.league-container {
  max-width: 1400px;
  margin-left: 10em;
  margin-right: auto;
  margin-top: 2em;
}

.league-header {
  text-align: center;
  margin-bottom: 20px;
}

.league-grid-header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.league-grid-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.league-name {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.toggle-button {
  cursor: pointer;
  margin-right: 5px;
}

.roster-group {
  margin-bottom: 10px;
}

.roster-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.roster-grid-header {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.roster-grid-item {
  font-size: 16px;
  padding: 2px 0;
}

.league-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  max-width: 1800px;

  margin-left: auto;
  margin-right: auto;
}

.league-grid-header,
.league-grid-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.league-name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.league-details {
  grid-column: 1 / -1; /* Spans all columns */
  padding: 10px 0;
  margin-left: 20px;
}

/* Injury status colors */
.injury {
    color: red;
    font-weight: bold;
}

.injury-questionable {
    color: orange;
    font-weight: bold;
}

/* Tightening up the expanded rows */
.roster-grid {
    display: grid;
    grid-template-columns: 0.55fr 0.2fr 0.5fr 0.5fr .5fr;
    grid-gap: 8px;
    align-items: center;
    padding: 4px 0;
}

/* Adjusting the overall width of the expanded row */
.league-details {
    padding-left: 20px; /* Adding some padding */
    max-width: 80%; /* Control the width of the expanded content */
}



/* Ensure the toggle button aligns correctly */
.toggle-button {
    cursor: pointer;
    margin-right: 5px;
}