.draft-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.draft-modal-content {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* 80% of the screen height */
  display: flex;
  flex-direction: column;
}

body.dark .draft-modal-content {
  background-color: #35353b;
  color: #e2e2e2;
}

.close-modal-button {
  margin: 20px auto 0 auto; /* Center the button horizontally */
  display: block; /* Ensure the button is treated as a block element */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0; /* Ensure the button does not shrink */
}

.close-modal-button:hover {
  background-color: #0056b3;
}

/* Renamed grid-container to draftmodal-gridcontainer */
.draftmodal-gridcontainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  margin-top: 20px;
  flex: 1; /* Allow the grid to take up remaining space */
  overflow-y: auto; /* Make the grid content scrollable */
  margin-bottom: 20px; /* Add spacing between grid and close button */
}

/* Adjusted the grid layout to align names with the ranks area */
.player-card {
  display: grid;
  grid-template-areas:
    "pick name name"
    "ktc ktc-rank ktc-rank"
    "fc fc-rank fc-rank";
  grid-template-columns: 1fr 2fr 1fr; /* Adjusted column sizes */
  grid-template-rows: auto auto auto;
  gap: 5px;
  background: #f9f9f9;
  border: 2px solid #999;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 85%;
  height: 100px;
  color: rgba(220, 220, 220, 0.95);
}

.pick-number {
  grid-area: pick;
  font-size: 1.3em; /* Slightly smaller font size */
  font-weight: bold;
  text-align: left;
  color: inherit;
}

/* Renamed player-name to draftmodal-player-name */
.draftmodal-player-name {
  grid-area: name;
  text-align: right;
  justify-self: stretch; /* Ensure it stretches to align with the ranks */
  grid-column: span 4; /* Take less space */
  font-size: 1.2em; /* Slightly smaller font size */

  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Subtle shadow */
}

.player-team {
  grid-area: team;
  color: inherit;
  text-align: right;
}

.player-info.ktc {
  display: flex; /* Align items horizontally */
  gap: 2px; /* Add some spacing between FAC: and the value */
  grid-area: ktc;
  text-align: left;
  grid-column: span 3; /* Take more space */
}

.player-info.ktc-rank {
  display: flex; /* Align items horizontally */
  gap: 2px; /* Add some spacing between FAC: and the value */
  grid-area: ktc-rank;
  text-align: right;
  grid-column: span 2; /* Take less space */
}

.player-info.fc {
  display: flex; /* Align items horizontally */
  gap: 2px; /* Add some spacing between FAC: and the value */
  grid-area: fc;
  text-align: left;
  grid-column: span 3; /* Take more space */
}

.player-info.fc-rank {
  display: flex; /* Align items horizontally */
  gap: 2px; /* Add some spacing between FAC: and the value */
  grid-area: fc-rank;
  text-align: right;
  grid-column: span 2; /* Take less space */
}

/* Light mode styles for modal cards */
body.light .draft-modal-content .player-card.wr {
  background-color: #1540bc; /* Example color for WR */
}

body.light .draft-modal-content .player-card.rb {
  background-color: #108410; /* Example color for RB */
}

body.light .draft-modal-content .player-card.te {
  background-color: #d7810e; /* Example color for TE */
}

body.light .draft-modal-content .player-card.qb {
  background-color: #ce1616; /* Example color for QB */
}

body.light .draft-modal-content .player-card.dst {
  background-color: #8f1f1f; /* Example color for D/ST */
}

body.light .draft-modal-content .player-card.k {
  background-color: #6700b1; /* Example color for K */
}

body.light .draft-modal-content .player-card.default {
  background-color: gray; /* Default color */
}

/* Dark mode styles */

body.dark .draftmodal-player-name,
body.dark .player-info {
  color: #e2e2e2; /* Light text for dark mode */
}

/* Dark mode styles for modal cards */
body.dark .draft-modal-content .player-card.wr {
  background-color: #1e3a8a; /* Darker blue for WR */
}

body.dark .draft-modal-content .player-card.rb {
  background-color: #145214; /* Darker green for RB */
}

body.dark .draft-modal-content .player-card.te {
  background-color: #b3741f; /* Darker orange for TE */
}

body.dark .draft-modal-content .player-card.qb {
  background-color: #a81c1c; /* Darker red for QB */
}

body.dark .draft-modal-content .player-card.dst {
  background-color: #6e2c2c; /* Darker brown for D/ST */
}

body.dark .draft-modal-content .player-card.k {
  background-color: #4b0082; /* Darker purple for K */
}

body.dark .draft-modal-content .player-card.default {
  background-color: #555; /* Darker gray for default */
}

.modal-title {
  margin: 0 auto; /* Center the title horizontally */
  text-align: center; /* Ensure the text is centered */
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* Centered the league name title */
.league-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  flex-grow: 1;
}

/* Added styles for header-container */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switches-container {
  display: flex;
  gap: 10px;
}

button.team-button {
  font-size: 1.5rem; /* Larger text */
  padding: 10px; /* Add some padding */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 80px;
  width: 70%;
  box-shadow: #222 0px 0px 5px; /* Subtle shadow */
}

/* Light mode styles for team buttons */
body.light button.team-button {
  background-color: #e0e0e0; /* Light gray background */
  color: #333; /* Dark text */
  border: 1px solid #ccc; /* Subtle border */
}

body.light button.team-button:hover,
body.light button.team-button.selected {
  background-color: #d6d6d6; /* Slightly darker gray on hover */
  font-weight: bold;
  color: #0b0c0b;
  border-radius: 5px;
}

/* Dark mode styles for team buttons */
body.dark button.team-button {
  background-color: #444; /* Dark gray background */
  color: #e2e2e2; /* Light text */
  border: 2px solid #222; /* Subtle border */
}

body.dark button.team-button:hover,
body.dark button.team-button.selected {
  background-color: #557; /* Slightly lighter gray on hover */
  font-weight: bold;
  color: #0b0c0b;
  border-radius: 80px; /* Ensure consistent border-radius */
}

/* Updated styles for team-buttons-grid to include dynamic columns */
.team-buttons-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  justify-items: center; /* Align buttons horizontally in the center of each grid column */
  align-items: center; /* Align buttons vertically in the middle of the grid */
}

/* The switch - the box around the slider */
.draft-modal-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.draft-modal-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.draft-modal-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.draft-modal-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.draft-modal-switch input:checked + .draft-modal-slider {
  background-color: #2196f3;
}

.draft-modal-switch input:focus + .draft-modal-slider {
  box-shadow: 0 0 1px #2196f3;
}

.draft-modal-switch input:checked + .draft-modal-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.draft-modal-slider.round {
  border-radius: 34px;
}

.draft-modal-slider.round:before {
  border-radius: 50%;
}

/* Container for switches */
.switch-container {
  display: flex;
  margin-bottom: 10px; /* Add spacing between switches */
}

.switch-container i {
  width: 20px;
  height: 20px;
  display: inline-block; /* Ensure they are treated as inline elements */
  font-size: 1.5em; /* Updated size for the squares */
}

.switch-container .fa-square {
  width: 33px; /* Explicit width */
  height: 33px; /* Explicit height */
  display: inline-block; /* Ensure proper alignment */
  margin-right: 5px; /* Add spacing */
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Match the team-buttons-grid */
  gap: 10px;
  justify-items: center; /* Align items horizontally in the center */
  align-items: center; /* Align items vertically in the middle */
  width: 100%; /* Ensure it spans the full width */
}

.results-grid .player-results {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Center content both horizontally and vertically */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Ensure the 'No draft found' text spans all 12 columns in the grid */
.draft-modal-not-found-text {
  grid-column: span 12;
  font-size: 64px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draft-modal-card-text {
  color: #c1c1c1; /* Dimmed text color */
}
