.app-container {
  display: flex;
}

.content {
  margin-left: 15px;
  padding: 20px;
  flex: 1;
  transition: margin-left 0.3s;
}

.left-menu.collapsed + .content {
  margin-left: 60px;
}

.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Page / container layout */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap; /* allows items to wrap on smaller screens */
}

.header-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

/* Light mode styles */
body.light {
  background-color: #f8f8f8;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
body.dark {
  background-color: #15151b;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Content-specific styles */
.content.light {
  background-color: #ffffff;
  color: #000000;
}

.content.dark {
  background-color: #2b2b2b;
  color: #ffffff;
}
